body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background: url(../home/image/pet1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
}

h1 {
    color: white;
}

.h {
    color: white;
}

h2, h3, p {
    color: #333;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 220px;
    height: 250px;
    background-color: #f86503; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    margin: 10px;
    border-radius: 10px;
   
    .image {
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
    }
    
    .image img {
        width: 80px;
        height: 80px;
        margin: 20px auto;
    }
}



.content {
    text-align: center;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
}

.amount {
    font-size: 12px;
    color: #141212;
    margin-top: 5px;
}

.btn {
    background-color: rgb(129, 135, 129);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
}

.btn:hover {
    background-color: #3a3b3b;
}
